/* Root */
:root {
  /* font family */
  --en-font-family : 'Montserrat', sans-serif;
  --ko-font-family : 'Noto Sans KR', sans-serif;

  /* color */
  --point-color : #a2bbd3;
  --main-black: #373737;
  --black: #111111;
}

/* Header CSS */
.m_toggle, .m_menu {
  display: none;
}
.gnb {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  transition: height .4s;
  z-index: 100;
}
  .gnb.scroll_up {
    top: -80px;
    transition: top 1s;
  }

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav_logo {
  width: 140px;
  height: 60px;
}

.container .nav_logo a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 0 0;
}
.container .nav_menu {
  display: flex;
}
.container .nav_menu .menu_item {
  padding-left: 30px;
}
.container .nav_menu .menu_item .menu_item_link, .m_menu_item {
  display: block;
  font-family: var(--en-font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgba(55, 55, 55, 0.5);
  padding: 10px;
}
.container .nav_menu .menu_item .menu_item_link.on {
  color: var(--main-black);
}
.container .nav_menu .menu_item .menu_item_link:hover {
  color: var(--main-black);
  transition: color .4s;
}

/* Main CSS */
/* Home */
#home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.home_text h1 {
  font-family: var(--en-font-family);
  font-size: 80px;
}
.home_text h1 .typed {
  font-family: var(--ko-font-family);
}
.main_container {
  max-width: 1140px;
  height: 100%;
  padding: 50px 15px;
  margin: 0 auto;
}
.main_container h2 {
  position: relative;
  margin: 0 0 80px;
}
#about.show .main_container h2::after,
#skills.show .main_container h2::after {
  width: 240px;
}
.main_container h2::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 20px;
  background-color: #bcbcbc;
  z-index: -1;
  transform: skew(-20deg) translateX(-50%);
  left: 50%; bottom: 10px;
  transition: width 1s;
}
.home_wrap {
  position: relative;
}

.home_text {
  position: absolute;
  font-size: 50px;
  font-weight: 700;
  color: var(--black);
  background-color: #fff;
  bottom: 20%;
}
.arrow_down {
  position: absolute;
  bottom: 4%; left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-image: url(../img/arrow_down.png);
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%, 100% { bottom: 5% }
  50% { bottom: 3% }
}
@keyframes bounce {
  0%, 100% { bottom: 5% }
  50% { bottom: 3% }
}
.arrow_down a {
  display: block;
  width: 100%;
  height: 100%;
}

/* About */
  .about_contents {
    padding-bottom: 50px;
  }
  /* Abour Profile */
  .about_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #fff;
  }
  .about_profile_img {
    position: relative;
    width: 50%;
    height: 100%;
  }
  .about_img_bg {
    position: absolute;
    top: 53%; left: 53%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: var(--point-color);
    border-radius: 50%;
  }
  .about_img img {
    width: 300px;
    height: 300px;
    margin: -25px 0 0 -15px;
    border-radius: 50%;
  }
  .about_profile_text {
    width: 50%;
  }
  .about_profile_text ul li {
    font-family: var(--en-font-family);
    font-size: 28px;
    font-weight: 500;
  }
  .about_profile_text ul li:nth-child(1){
    font-family: var(--ko-font-family);
  }
  .about_profile_text ul li a {
    color: var(--main-black);
  }
  .about_profile_text ul li:not(:last-child){
    margin-bottom: 20px;
  }
  .about_profile_text ul li span:nth-child(1) {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--point-color);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }
  .about_profile_text ul li span ion-icon {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    color: #fff;
  }

  /* About text */
  .about_text_contents {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 60px;
  }
  .about_text_contents dt {
    font-family: var(--en-font-family);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  .about_text_contents dt::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--main-black);
    margin: 9px 10px 0 0;
    vertical-align: top;
  }
  .about_text_contents dd{
    margin-bottom: 10px;
    color: var(--main-black);
    font-size: 18px;
  }
  .about_contents dd::before {
    content: '-';
    margin-right: 10px;
  }


/* Skills CSS */
#skills {
  position: relative;
  z-index: -2;
  background-color: #fff;
}
#skills.show .circle-chart {
  -webkit-animation: appear 2s forwards;
          animation: appear 2s forwards;
}
#skills.show .circle-chart__circle {
  -webkit-animation: circle-chart-fill 2s reverse;
          animation: circle-chart-fill 2s reverse;
}
#skills.show .circle-chart__info{
  -webkit-animation: circle-chart-appear 2s .4s forwards;
          animation: circle-chart-appear 2s .4s forwards;
}

  /* Skills Contents */
  .skills_contents {
    padding-bottom: 50px;
  }
  .skills_list {
    display: flex;
    flex-wrap: wrap;
  }
  .skills_list_item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle-chart {
    opacity: 0;
  }
  .circle-chart__circle {
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  .circle-chart__info {
    opacity: 0;
    transform: translateY(0.3em);
  }
  .circle-chart__subline {
    font-size: 8px;
    font-weight: 900;
    font-family: var(--en-font-family);
  }
  .circle-chart__percent {
    font-size: 4px;
    font-weight: 700;
    font-family: var(--en-font-family);
  }

@-webkit-keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@-webkit-keyframes appear {
  to {opacity: 1;}
}
@keyframes appear {
  to {opacity: 1;}
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Portfolio */
#portfolio.show .main_container h2::after {
  width: 370px;
}
  /* filter Button */
  .filter_btn_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter_btn.on, .filter_btn:hover {
    background-color: var(--main-black);
    color: #fff;
  }
  .filter_btn {
    display: inline-block;
    border: 1px solid var(--main-black);
    border-radius: 20px;
    background-color: #fff;
    font-family: var(--en-font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--main-black);
    padding: 6px 10px;
    margin: 0 6px;
    transition: background-color .6s;
  }
  /* Project List */
  .project_list {
    display: flex;
    flex-wrap: wrap;
  }
  .project_item {
    width: calc(33.33333% - 12px);
    margin: 0 6px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project_item a:hover span {
    transform: scale(1.1);
  }
  .project_img_box {
    display: block;
    width: 100%;
    height: 260px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .project_img_box span {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
    transition: transform .4s;
  }
  .project_item:nth-child(1) span {
    background-image: url(../img/portfolio_pc.png);
  }
  .project_item:nth-child(2) span {
    background-image: url(../img/apple_pc.png);
  }
  .project_item:nth-child(3) span {
    background-image: url(../img/genesis.png);
  }
  .project_item:nth-child(4) span {
    background-image: url(../img/hugeinc.png);
  }
  .project_item:nth-child(5) span {
    background-image: url(../img/netflix_pc.png);
  }
  .project_item:nth-child(6) span {
    background-image: url(../img/nike_pc.png);
  }
  .project_name {
    font-family: var(--en-font-family);
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
    text-shadow: 1px 1px 1px gray;
  }
  /* Project Description */
  .project_description_wrap {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 201;
    width: 600px;
    height: 640px;
    padding: 40px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
  
  .project_description_wrap .close_btn {
    position: absolute;
    top: 10px; right: 10px;
    width: 40px;
    height: 40px;
    --ionicon-stroke-width: 40px;
    transition: color .4s;
    cursor: pointer;
  }
  .project_description_wrap .close_btn:hover {
    color: gray;
  }
  .project_description_wrap ul {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .project_description {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .project_description .p_detail {
    width: 100%;
    height: 100%;
  }
  .project_description .p_img {
    width: 100%;
    height: 300px;
    margin: 20px 0;
  }
  .project_description .p_img img {
    width: 100%;
    height: 100%;
  }
  .project_description h3 {
    font-size: 34px;
    margin-bottom: 10px;
    font-family: var(--en-font-family);
    text-transform: uppercase;
    line-height: 1;
  }
  .project_description h4 {
    font-size: 14px;
    color: #787878;
    font-weight: 500;
  }
  .project_description h4 span {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background-color: #d6d6d6;
  }
  .project_description h4 ion-icon {
    vertical-align: top;
    font-size: 18px;
  }
  .project_description .logo-h {
    color: #dd4b25;
  }
  .project_description .logo-c {
    color: #0068ba;
  }
  .project_description .logo-j {
    color: #e4a827;
  }
  .project_description p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
  }
  .project_description .p_btn {
    display: inline-block;
    border: none;
    background-color: var(--main-black);
    color: #fff;
    font-family: var(--en-font-family);
    font-weight: 600;
    font-size: 14px;
    padding: 12px 80px;
    transition: background-color .6s;
  }
  .project_description .p_btn:hover {
    background-color: rgba(55, 55, 55, .9);
  }
  .project_description .p_btn ion-icon {
    vertical-align: middle;
  }
/* Dimmed */
.dimmed {
  display: none;
  position: fixed;
  top: 0; left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}


/* Arrow Top Btn */
.arrow_top_btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 40px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  padding: 5px 0 0;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  z-index: 10;
}
.arrow_top_btn:hover {
  background-color: var(--point-color);
}
.arrow_top_btn:hover > .icon-arrow_top {
  border-color: rgb(255, 255, 255);
}
.icon-arrow_top {
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid rgb(153, 153, 153);
  border-right: 2px solid rgb(153, 153, 153);
  transform: rotate(-45deg);
}


/* Footer */
.copyright {
  background: #161616;
  text-align: center;
  padding: 30px 0;
}
.copyright p, .copyright span {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #c8c8c8;
  opacity: 0.8;
}
.copyright p br {
  display: none;
}



/* 반응형 CSS */
@media screen and (max-width:960px) {

  /* Header CSS */
  .container { padding: 15px 25px; }
  .container .nav_menu { display: none; }
  
  .container .nav_logo { width: 120px; }
  .m_toggle {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .m_toggle a {
    display: block;
    width: 100%;
    height: 100%;
  }
  /* .m_toggle a:hover .m_line:nth-child(1) {
    transform: translate(-50%, 0) rotate(45deg) ;
    margin: 0;
  }
  .m_toggle a:hover .m_line:nth-child(2) {
    transform: translate(-50%, 0) rotate(-45deg);
    margin: 0;
  } */
  .m_toggle a .m_line {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--main-black);
    transition: all ease-in-out .4s;
  }
  .m_line:nth-child(1) {
    margin: -6px 0 0;
  }
  .m_line:nth-child(2) {
    margin: 6px 0 0;
  }
  .m_menu {
    display: block;
    width: 100%;
    height: 0;
    /* height: auto; */
    text-align: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .95);
    transition: height ease-in-out .6s;
  }
  .m_menu ul {
    padding: 30px 25px;
  }
  .m_menu .m_menu_item a {
    display: block;
    color: rgba(55, 55, 55, 0.5);
    font-size: 30px;
    margin-bottom: 10px;
  }
  .m_menu .m_menu_item.on  {
    color: var(--main-black);
  }


  /* Main CSS */
  /* Home */
  .main_container {
    padding: 50px 25px;
  }
  .main_container h2 {
    margin: 0 0 60px;
  }
  .home_text h1 {
    font-size: 64px;
  }
  .home_text {
    bottom: 20%;
  }

  /* About */
  .about_contents {
    padding-bottom: 0;
  }
    .about_text_contents {
      display: flex;
      flex-direction: column;
    }
    .about_text_contents dl:not(:last-child) {
      margin-bottom: 20px;
    }
    .about_text_contents dt {
      font-size: 32px;
    }
    .about_text_contents dd {
      font-size: 20px;
    }


  /* Skills */
  .skills_contents {
    padding: 0 20px;
  }
  .skills_list_item {
    width: 50%;
  }
    .circle-chart {
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
    }
    .circle-chart__subline {
      font-size: 6px;
    }

  /* Project List */
  .project_item {
    width: calc(50% - 12px);
  }
  .project_img_box {
    max-width: 440px;
    height: 320px;
  }
}

@media screen and (max-width:786px) {
  /* About */
  .about_profile {
    height: 600px;
  }
  .about_profile_img {
    width: 100%;
    height: 65%;
  }
  .about_profile_text {
    width: 326px;
    height: 35%;
    margin: 0 auto;
  }
  .about_profile_text ul li {
    font-size: 24px;
  }
  /* Copyright */
  .copyright {
    padding: 20px 0;
  }
  .copyright p, .copyright span {
    line-height: 1.5;
  }
  .project_img_box {
    max-width: 100%;
    height: 260px;
  }
}

@media screen and (max-width: 630px) {
  /* Header */
  .gnb {
    height: 60px;
  }
  .gnb .container {
    padding: 0 25px;
  }
  .m_menu ul {
    padding: 10px 25px;
  }
  .m_menu .m_menu_item a {
    font-size: 26px;
    margin-bottom: 6px;
  }


  /* Home */
  .home_text h1 {
    font-size: 50px;
  }
  .main_container h2 {
    font-size: 40px;
    margin: 0 0 40px;
  }
  #about.show .main_container h2::after,
  #skills.show .main_container h2::after {
    width: 200px;
  }
  #portfolio.show .main_container h2::after {
    width: 320px;
  }


  /* About */
  .about_text_contents {
    padding: 0 20px;
  }
  .about_text_contents dt {
    font-size: 24px;
  }
  .about_text_contents dd {
    font-size: 18px;
  }


  /* Skills */
  .skills_contents {
    padding: 0 20px;
  }
  .skills_list_item {
    width: 100%;
  }
    .circle-chart {
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
    }
    .circle-chart__subline {
      font-size: 4px;
    }

  /* Project */
    /* Project List */
    .project_item {
      width: calc(100% - 12px);
    }
    .project_img_box {
      max-width: 100%;
      height: 360px;
    }
    /* Project Description */
    .project_description_wrap {
      width: 90%;
    }

    /* Copyright */
    .copyright p br {
      display: block;
    }
}

@media screen and (max-width: 455px) {
  /* Home */
  .home_text h1 {
    font-size: 36px;
  }

  /* About */
  .about_text_contents {
    padding: 0 10px;
  }
  .about_profile {
    height: 540px;
  }
  .about_img_bg {
    top: 55%;
    width: 260px;
    height: 260px;
  }
  .about_img img {
    width: 260px;
    height: 260px;
    margin: -15px 0 0 -15px;
  }
  .about_profile_text ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .about_profile_text ul li span,
  .about_profile_text ul li a {
    font-size: 20px;
  }
  .about_profile_text {
    width: 306px;
    padding: 0 10px;
  }
  .about_text_contents dd {
    font-size: 16px;
  }

  /* Skills */
  .circle-chart {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
  }
  .circle-chart__subline {
    font-size: 6px;
  }

  /* Portfolio */
  .project_img_box {
    max-width: 100%;
    height: 280px;
  }
  .filter_btn_wrap {
    margin-bottom: 20px;
  }
  .project_description_wrap {
    height: 700px;
  }
  .project_description .p_btn {
    padding: 12px 40px;
  }
  #portfolio .main_container {
    padding: 50px 25px 10px;
  }
}
